{% set builder = builder ?? false %}
{% extends builder ? "_partials/matrix.twig" : "_partials/cke.twig" %}
{% set classWrapper = builder ? 'blocks blocks--blog' : 'inlines inlines--blog' %}
{% set classContent = builder ? 'blocks__popout' : '' %}

{% block content %}
  {% set categories = craft.entries.section('categories').all() ?? null %}

  {% if categories %}
    {# FILTER #}
    <div class="inline-flex items-center mb-8 space-x-4">
      <select
        data-bind:filter
        data-attr-disabled="$fetching"
        data-on:input="{{ datastar.get('_datastar/blog.twig', { offset: 0 }) }}"
        data-indicator:fetching
        aria-label="Blog-Kategorie filtern"
        class="ui-select ui-bold">
        <option value="">{{ 'Show all'|t }}</option>
        {% for item in categories %}
          <option value="{{ item.slug }}" data-selected="$filter == {{ item.slug }}">{{ item.title }}</option>
        {% endfor %}
      </select>
      <div data-show="$fetching">
        Loading...
      </div>
    </div>
  {% endif %}

  {# RESULT #}
  <div id="result" data-init="{{ datastar.get('_datastar/blog.twig', { offset: 0 }) }}"></div>
  <div id="loadmore"></div>
{% endblock %}
