{% extends '_layouts/base' %}

{% set category = entry.relationCategories.one() ?? null %}

{% block main %}
  {% cache using key 'entry__' ~ craft.app.request.pathInfo %}
    <header class="blocks blocks--header">
      <div class="blocks__content">
        <div class="flex justify-between mb-2">
          {% if entry.date %}
            <p class="text-pop-on ui-bold">{{ entry.date|date('d.m.Y') }}</p>
          {% endif %}
          {% if category %}
            <span class="py-1 px-2 ui-bold text-base text-ink bg-pop ui-border ui-shadow-sm">{{ category }}</span>
          {% endif %}
        </div>
        <h1 class="ui-h1">{{ entry.headline ? entry.headline|nl2br : entry.title }}</h1>
      </div>
      {% if entry.card.image %}
        <div class="blocks__popout">
          {% include "_components/image.twig" with {
            image: entry.card.image.eagerly().one()
          } only %}
        </div>
      {% endif %}

      {% if entry.externalUrl %}

        <div class="prose md:prose-lg lg:prose-xl">
          {{ entry.card.teaser }}
          {% include "_components/button.twig" with {
            label: "Read more"|t,
            url: entry.externalUrl,
            target: '_blank',
            external: true,
            class: 'not-prose'
          } only %}
        </div>

      {% endif %}
    </header>

    {{ entry.matrixBuilder.eagerly().render({ builder: true }) }}
  {% endcache %}
{% endblock %}
